
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
}

.navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}

#navbar__logo {
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    background-color: #ff8177;
    background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.logo-image {
    height: 100px; 
    margin-left: 10px; 
}

.navbar__menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

.navbar__item {
    height: 80px;
}

.navbar__links {
    color: #f8f8f8;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
}

.navbar__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    width: auto;
}

.navbar__btn .button {
    padding: 10px 20px;
    border-radius: 4px;
    background: #f77062;
    color: #fff;
    text-decoration: none;
    outline: none;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

.navbar__btn .button:hover {
    background: #4837ff;
}

.navbar__links:hover {
    color: #f77062;
    transition: all 0.3s ease;
}

.navbar_toggle .bar {
    display: none;
}

@media screen and (max-width: 960px) {
    .navbar__container {
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0;
    }

    .navbar__menu {
        display: none;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: 100%;
        transition: all 0.5s ease;
        height: 50vh;
        z-index: -1;
        background-color: #131313;
    }

    .navbar__menu.active {
        display: grid;
        opacity: 1;
        z-index: 99;
    }

    #navbar__logo {
        padding-left: 25px;
    }

    .navbar_toggle .bar {
        display: block;
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: #fff;
    }

    #mobile-menu {
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }

    .navbar__item {
        width: 100%;
    }

    .navbar__links {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }

    .navbar__btn {
        padding-bottom: 1%;
    }

    .navbar__btn .button {
        width: 80%;
        height: auto;
        margin: 0;
    }

    #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0;
    }

    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    #mobile-menu.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}

/* Hero Section CSS */ 
.main {
    background-color: #131313;
}

.main__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-self: center;
    margin: 0 auto;
    height: 90vh;
    background-color: #141414;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0 50px;
}

.main__content h1 {
    font-size: 4rem;
    background-color: #df7068;
    background-image:linear-gradient(to top, #f77062 0%, #ffb199ff 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color:transparent;
}

.main__content h2 {
    font-size: 4rem;
    position: relative;
    right: 150px;
    background-color: #ff0844; 
    background-image: linear-gradient(to top, #b72ffb 0%, #21d4fd 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.main__content p {
    margin-top: 1rem;
    font-size: 2rem;
    font-weight: 700;
    color: #fff;
}

.main__btn {
    font-size: 1rem;
    display: block;
    background-image: linear-gradient(to top, #f77062 0%, #fe5196 100%);
    padding: 12px 1px;
    border-radius: 4px;
    color: #fff;
    margin-top: 2rem;
    cursor: pointer;
    position: relative;
    transition: all 0.35s;
    outline: none;
    width: 40%;
    height: 45px;
    text-align: center;
    text-decoration: none;
}

.main__btn a {
    position: relative;
    z-index: 2;
    color: #fff;
    text-decoration: none;
}

.main__btn:after {
    position:absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #4837ff;
    transition: all 0.35s;
    border-radius: 4px;
}

.main__btn:hover:after {
    width: 100%;
}

button.main__btn:hover {
    background-image: linear-gradient(to top, #4837ff 100%, #fe5196 0%);
}

/* Networkingmain button CSS */
.networking__btn {
    display: inline-block; /* Ensures button-like behavior */
    font-size: 1rem;
    background-image: linear-gradient(to top, #f77062 0%, #fe5196 100%);
    padding: 10px 200px; 
    border: none;
    border-radius: 8px;
    color: #fff;
    text-decoration: none; 
    text-align: center; 
    cursor: pointer;
    transition: all 0.15s;
    outline: none;
}

.networking__btn:hover {
    color: #fff; 
}

.networking__btn:hover:after {
    width: 100%;
}

.main__img--container {
    text-align: center;
}

#main__img {
    height: 80%;
    width: 80%;
}

/*Mobile resposive */
@media screen and (max-width: 768px) {
    .main__container {
        display: grid;
        grid-template-columns: auto;
        align-items: center;
        justify-items: center; 
        width: 100%;
        margin: 0 auto;
        height: 90vh;
    }

    .main__content {
        text-align: center;
        margin-bottom: 4rem;
    }

    .main__content h1 {
        font-size: 2.5rem;
        margin-top: 2rem;
    }

    .main__content h2 {
        font-size: 3rem;
    }

    .main__content p {
        margin-top: 1rem;
        font-size: 1.5rem;
    }
}


@media screen and (max-width: 480px) {
    .main__content h1 {
        font-size: 2rem; 
        margin-top: 3rem;
    }

    .main__content h2 {
        font-size: 2rem; 
    }

    .main__content p {
        font-size: 1.5rem;
    }


    .main__btn {
        padding: 12px 36px;
        margin: 2.5rem 0;
    }
}

/* Services section CSS */
.services {
    background: #141414;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
   
}
.services h1 {
    background: linear-gradient(
        to right,
        #ff8177 0%,
        #ff867a 0%,
        #ff8c7f 21%,
        #f99185 52%,
        #cf556c 78%,
        #b12a5b 100%
    );
    background-size: 100%;
    margin-bottom: 5rem;
    font-size: 2.5rem;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.services__container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 1rem;
}

.services__card {
    position: relative;
    height: 525px;
    width: 300px; /* Consistent width */
    border-radius: 4px;
    background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0) 0%,
        rgba(17, 17, 17, 0.6) 100%
    ),
    url('images/dj2.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    color: #ffffff;
    padding: 2rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in;
    overflow: hidden; /* Ensure button does not overflow */
}

.services__card:nth-child(2) {
    background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0) 0%,
        rgba(17, 17, 17, 0.6) 100%
    ),
    url('images/dj.jpg');
}

.services__card h2 {
    color: #ffffff;
    font-size: 1rem;
    margin-bottom: 0.5rem; /* Space between heading and button */
}

.services__card p {
    color: #ffffff;
    font-size: 1rem;
    margin-bottom: 1rem; /* Space between paragraph and button */
}

.services__card button {
    position: absolute;
    bottom: 20px; /* Position at the bottom of the card */
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    padding: 10px 20px; /* Consistent padding */
    border: none;
    outline: none;
    border-radius: 8px;
    background: #f77062;
    font-size: 0.9rem; /* Consistent font size */
    cursor: pointer;
    transition: background-color 0.2s ease-in;
    text-align: center;
}

.services__card button:hover {
    background-color: #e05d6f;
}

@media screen and (max-width: 960px) {
    .services {
        height: auto; /* Allow height to adjust */
    }

    .services h1 {
        font-size: 2rem;
        margin-top: 12rem;
    }
}

@media screen and (max-width: 460px) {
    .services h1 {
        font-size: 1.2rem;
    }
}



/* footer_CSS */
.footer__container {
    background-color: #141414;
    padding: 5rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#footer__logo {
    color: #fff;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem; 
}

.footer__logo--img {
    width: 40px; 
    height: auto;
    margin-right: 10px; 
}

.footer__links {
    width: 100%;
    max-width: 1000px;
    display: flex;
    justify-content: center;
}

.footer__link--wrapper {
    display: flex;
}

.footer__link--items {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 16px;
    text-align: left;
    width: 160px;
    box-sizing: border-box;
}

.footer__link--items h2 {
    margin-bottom: 10px;
    color: #fff;
}

.footer__link--items a {
    color: #fff;
    text-decoration: none;
    margin-bottom: 0.5rem;
}

.footer__link--items a:hover {
    color: #e9e9e9;
    transition: 0.3s ease-out;
}

.website__rights {
    color: #fff; 
    margin-top: 1rem; 
}

.social__icons {
    display: flex;
    justify-content: center; 
    margin-top: 1rem; 
}

.social__icons a {
    color: #fff; 
    margin: 0 10px; 
    text-decoration: none; 
}

.social__icons i {
    font-size: 1.5rem;
}


@media screen and (max-width:480px) {
    .footer__link--items {
        margin: 0;
        padding: 10px;
        width: 100%;
    }
}

/* Opportunities*/
.opportunities {
    background: #141414;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    padding: 2rem 0;
}

.opportunities h1 {
    background: linear-gradient(
        to right,
        #ff8177 0%,
        #ff867a 0%,
        #ff8c7f 21%,
        #f99185 52%,
        #cf556c 78%,
        #b12a5b 100%
    );
    background-size: 100%;
    margin-bottom: 5rem;
    font-size: 2.5rem;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.opportunities__container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 1rem;
}

.opportunity {
    position: relative;
    height: auto;
    width: 350px;
    max-width: 50%;
    border-radius: 4px;
    background: #141414;
    text-align: start;
    color: #ffffff;
    padding: 2rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in;
}   

img.opportunity-image {
    width: 100%;
    height: 30%;
    display: block;
    margin: 0 auto 1rem;
}

.opportunity h2 {
    color: #ffffff;
    font-size: 1.5rem;
    margin: 10px 0;
}

.opportunity p {
    color: #ffffff;
    font-size: 1rem;
    margin: 10px 0;
}

.opportunity button {
    color: #fff;
    padding: 12px 24px; 
    border: none;
    outline: none;
    border-radius: 4px;
    background: #f77062;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.2s ease-in;
    margin-top: 1rem; 
}

.opportunity:hover {
    transform: scale(1.075);
    cursor: pointer;
}

.opportunity:hover button {
    background-color: #e65c50;
}

@media screen and (max-width: 960px) {
    .opportunities {
        height: auto; 
    }
}

@media screen and (max-width: 460px) {
    .opportunities h1 {
        font-size: 1.2rem;
    }

    .opportunity {
        width: 100%; 
        padding: 1rem; 
    }
}

/* General Body Styles */
body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #141414;
    color: #ffffff;
}

/* Navbar Styles */
.navbar {
    background-color: #111;
}

/* Centering the image and text box in the our-story section */
.our-story {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    background-color: #111; 
}

.our-story__container {
    display: flex;
    align-items: center;
    text-align: center; 
    max-width: 1200px; 
    width: 100%;
    padding: 0 20px; 
    box-sizing: border-box;
}

.our-story__image {
    max-width: 200%;
    height: auto;
    margin-right: 20px; 
}

.our-story__text-box {
    max-width: 600px; 
}


/* Main Networking Section */
.networking {
    background: #141414;
    padding: 4rem 0;
    text-align: center;
}

.networking__container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}

.networking__content h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.networking__content p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

.networking__btn {
    background: linear-gradient(
        to right,
        #ff8177 0%,
        #ff867a 0%,
        #ff8c7f 21%,
        #f99185 52%,
        #cf556c 78%,
        #b12a5b 100%
    );
    color: #fff;
    padding: 0.75rem 1.5rem;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
    transition: background 0.3s ease;
}

.networking__btn:hover {
    background: linear-gradient(
        to right,
        #e65c50 0%,
        #f77062 100%
    );
}

.networking-image {
    width: 100%;
    max-width: 800px;
    height: auto;
    margin: 0 auto;
    display: block;
}

/* Sections for Community and Database Access */
.sections {
    background-color: #141414;
    padding: 4rem 0;
}

.section-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
}

.section {
    flex: 1;
    background-color: #131313; 
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
}

.section-link {
    display: block;
    width: 100%;
}

.section-image {
    width: 100%;
    height: auto;
    display: block;
    transition: opacity 0.3s ease;
}

.section-image:hover {
    opacity: 0.8;
}

.section-content {
    padding: 1rem;
    text-align: center;
}

.section-content h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.section-content p {
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
}

.database-access__btn {
    background: linear-gradient(
        to right,
        #ff8177 0%,
        #ff867a 0%,
        #ff8c7f 21%,
        #f99185 52%,
        #cf556c 78%,
        #b12a5b 100%
    );
    color: #fff;
    padding: 0.75rem 1.5rem;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
    transition: background 0.3s ease;
}

.database-access__btn:hover {
    background: linear-gradient(
        to right,
        #e65c50 0%,
        #f77062 100%
    );
}


/* General styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #000;
    color: #fff;
    padding-top: 80px; 
}

/* Menu Bar styles */
.navbar {
    background: #000;
    height: 80px; 
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: fixed; 
    top: 0; 
    left: 0; 
    width: 100%; 
    z-index: 999; /* Ensure it stays on top */
}

.navbar__container {
    display: flex;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}

#navbar__logo {
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    background-color: #ff8177;
    background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.logo-image {
    height: 100px; 
    margin-left: 10px; 
}

.navbar__menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

.navbar__item {
    height: 80px;
}

.navbar__links {
    color: #f8f8f8;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
}

.navbar__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
}

.button {
    display: flex;
    justify-content: center;
    position: relative;
    top: 78%;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    height: 10%;
    outline: none;
    border-radius: 4px;
    background: #f77062;
    color: #fff;
    align-items: flex-end;
}

.button:hover {
    background: #4837ff;
    transition: all 0.3s ease;
}

.navbar__links:hover {
    color: #f77062;
    transition: all 0.3s ease;
}

.navbar_toggle .bar {
    display: none;
}

@media screen and (max-width: 960px) {
    .navbar__container {
        padding: 0;
    }

    .navbar__menu {
        display: none;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: 100%;
        transition: all 0.5s ease;
        height: 50vh;
        background-color: #131313;
    }

    .navbar__menu.active {
        display: grid;
        opacity: 1;
    }

    #navbar__logo {
        padding-left: 25px;
    }

    .navbar_toggle .bar {
        display: block;
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: #fff;
    }

    #mobile-menu {
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }

    .navbar__item {
        width: 100%;
    }

    .navbar__links {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }

    .navbar__btn {
        padding-bottom: 1%;
    }

    .button {
        width: 80%;
        margin: 0;
    }

    #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0;
    }

    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    #mobile-menu.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}

/* Login/Sign Up Form Styles */
/* .wrapper {
    position: relative;
    width: 400px;
    height: 600px;
    background: #000;
    box-shadow: 0 0 50px #0ef;
    border-radius: 20px;
    padding: 40px;
    overflow: hidden;
    margin: auto;
    margin-top: 100px;
} */

.wrapper {
    position: relative;
    width: 500px;
    height: 700px;
    background: #000;
    box-shadow: 0 0 50px #0ef;
    border-radius: 20px;
    padding: 40px;
    overflow: hidden;
    margin: auto;
    margin-top: 10px;
}

.wrapper:hover {
    animation: animate 1s linear infinite;
}

@keyframes animate {
    100% {
        filter: hue-rotate(360deg);
    }
}

/* .form-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    transition: 1s ease-in-out;
} */

.form-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: relative;
    top: 19px;
    transition: 1s ease-in-out;
}

.wrapper.active .form-wrapper.sign-in {
    transform: translateY(-700px);
}

.wrapper.active .form-wrapper.sign-up {
    transform: translateY(-598px);
}

h2 {
    font-size:20px;
    color: #fff;
    text-align: center;
}

.input-group {
    position: relative;
    margin: 30px 0;
    border-bottom: 2px solid #fff;
}


.input-group label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}



.input-group input {
    width: 320px;
    height: 40px;
    font-size: 16px;
    color: #fff;
    padding: 0 5px;
    background: transparent;
    border: none;
    outline: none;
}

.input-group input:focus~label,
.input-group input:valid~label {
    top: -5px;
}

.remember {
    margin: -5px 0 15px 5px;
}

.remember label {
    color: #fff;
    font-size: 14px;
}

.remember label input {
    accent-color: #0ef;
}

button {
    position: relative;
    width: 100%;
    height: 40px;
    background: #0ef;
    box-shadow: 0 0 10px #0ef;
    font-size: 16px;
    color: #000;
    font-weight: 500;
    cursor: pointer;
    border-radius: 30px;
    border: none;
    outline: none;
}

.login-button { 
    background-color: #ff8177;
    height: 30px;
    width: 100%;
    border: 1px solid black;
    border-radius: 10px;
}



.signUp-link {
    font-size: 14px;
    text-align: center;
    margin: 15px 0;
}

.signUp-link p {
    color: #fff;
}

.signUp-link p a {
    color: #0ef;
    text-decoration: none;
    font-weight: 500;
}

.signUp-link p a:hover {
    text-decoration: underline;
}

/* Mobile Responsive */
@media screen and (max-width: 768px) {
    .wrapper {
        width: 90%;
        height: auto;
        padding: 20px;
    }
}

@media screen and (max-width: 480px) {
    .input-group input {
        width: 100%;
    }

    button {
        width: auto;
    }
}

button.applybtn {
    position: relative;
    top: 20%;
}

form .row {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    position: relative;
    height: 500px;
    /* bottom: 40px; */
}

.input-box2 input[type="email"] {
    width: 100%;
    height: 24px;
}
.input-box1 input[type="text"] {
    width: 100%;
    height: 24px;
}
.column1 {
    width: 100%;
    display: flex;
    flex-direction: column;
    /* height: 120px; */
    justify-content: space-evenly;
}

.column2 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.input-boxC3 input[type="text"] {
    width: 100%;
    height: 24px;

}
.input-boxC4 input[type="number"] {
    width: 100%;
    height: 24px;

}
.input-boxC5 input[type="text"] {
    width: 100%;
    height: 24px;

}
.input-boxC6 input[type="text"] {
    width: 100%;
    height: 24px;

}
.input-boxC7 input[type="number"] {
    width: 100%;
    height: 24px;

}





