doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    link(rel="stylesheet" href="articles.css")
    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap" type="text/css" rel="stylesheet")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Document
  body
    nav.navbar
      .navbar__container
        a#navbar__logo(href="/homepage")
          img.logo-image(src="images/mylogogr.png" alt="GrooveGrid Logo")
          | GrooveGrid
        #mobile-menu.navbar_toggle
          span.bar
          span.bar
          span.bar
        ul.navbar__menu
          li.navbar__item
            a.navbar__links(href="homepage") Home
          li.navbar__item
            a.navbar__links(href="network") Network
          li.navbar__item
            a.navbar__links(href="newsubplan") Opportunities
          li.navbar__item
            a.navbar__links(href="ourstory") Our Story
          li.navbar__btn
            a.button(href="signin") Sign In/Sign Up

    .blog
      .date 30 September 2024
      h2 Learn how to work with FX
      p.paragraph FX can be a lot of fun to incorporate into your settings. It can also provide a wonderful touch to your mixes. However, you may need to devote some time to mastering the use of the FX. Add them as needed, but don't go overboard and bother the audience.
      p.paragraph Too many DJs play with flanger, delay, reverb, and other effects during their set, which can come out as unprofessional and frustrating to your audience.
      p.paragraph Some people utilize FX to hide bad beatmatching, while others use them to transition from one mix to the next. This can help you get out of a jam, but you shouldn't rely on it. It's preferable to polish your beatmatching, EQing, and other techniques.
      hr

    .blog
      .date 25 September 2024
      h2 Preparing your DJ Set
      p.paragraph You should start preparing as soon as you know where you're going to play. Make a list of everything you'll need for this particular set. Also, make it a habit to completely prepare for each upcoming set.
      p.paragraph You should be aware of the audience's expectations as well as the time period for which you are performing. Take the appropriate music as well as several backups in case you encounter a difficult crowd.
      p.paragraph Sort your music into folders to make it simple to find what you want to listen to. You could even create a playlist just for that performance. You won't have to guess as much on the night if you have a playlist of songs that go well together.
      hr

    .blog
      .date 18 September 2024
      h2 Make music on your own
      p.paragraph Another wonderful method to give yourself an advantage is to produce your own music to perform in your DJ sets. There's a probability you'll be into producing if you enjoy DJing and music and have a creative side.
      p.paragraph Production software has gone a long way and is becoming better all the time. You won't have to spend thousands of pounds on constructing or even hiring a studio. With tools like FL Studio, Ableton live, and the bet of all for me, Cubase, you can create an entire track on your PC, Mac, or laptop.
      p.paragraph These softwares allow you to create whole tracks in just a few days. All you have to do now is include the tune into your DJ performances. You'll be able to judge how well you're doing by the crowd's reaction.
      hr
