doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Subscription Page - GrooveGrid
    link(rel="stylesheet" href="newsubplan.css")
  
  body
    .container
      .col-1
        img.logo(src="images/mylogogr.png")
        ul
          li
            img(src="images/smallicon.webp" alt="")
            | Showcase your talent
          li
            img(src="images/smallicon.webp" alt="")
            | Apply for Opportunities
          li
            img(src="images/smallicon.webp" alt="")
            | Contact our successful industry professionals
          li
            img(src="images/smallicon.webp" alt="")
            | Access articles for your Career
          li
            img(src="images/smallicon.webp" alt="")
            | Showcase your music on our website
        a.Join_btn(href="/signin") Join Us
      
      //- .col-2
      //-   h2
      //-     img(src="images/smallicon.webp")
      //-     |  Our Plans
      //-   form
      //-     label(for="free")
      //-       input(type="radio" name="Plans" id="free")
      //-       span FREE
      //-       |  ONE MONTH
      //-     label(for="paid")
      //-       input(type="radio" name="Plans" id="paid")
      //-       span £5.99 
      //-       small /month
      //-       |  NO LIMITS
      //-     br
      //-     p YOUR USERNAME
      //-     input(type="text" placeholder="Enter Your Name")
      //-     p EMAIL ADDRESS
      //-     input(type="email" placeholder="Enter your Email Id")
      //-     p PASSWORD
      //-     input(type="text" placeholder="Enter Your PASSWORD")
      //-     button(type="submit") Subscribe

          

