doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Terms of Use - GrooveGrid
    link(rel="stylesheet", href="terms-of-use.css")
  body

    header
      a.logo(href="/")
        img.logo-image(src="images/mylogogr.png", alt="GrooveGrid Logo")

    main
      section.terms-of-use
        h1 Terms of Use

        h2 1. Acceptance of Terms
        p By accessing and using GrooveGrid, you agree to be bound by these Terms of Use. If you do not agree to these terms, you may not use our services.

        h2 2. User Responsibilities
        p As a user of GrooveGrid, you agree to:
        ul
          li Provide accurate and up-to-date information when creating an account.
          li Maintain the confidentiality of your account information.
          li Respect the intellectual property rights of others.
          li Use GrooveGrid in compliance with all applicable laws and regulations.

        h2 3. Prohibited Conduct
        p You agree not to:
        ul
          li Engage in any activity that is harmful, fraudulent, or illegal.
          li Post or share content that is offensive, defamatory, or violates the rights of others.
          li Attempt to access unauthorized areas of the website or interfere with its functionality.

        h2 4. Intellectual Property
        p All content on GrooveGrid, including text, graphics, logos, and images, is the property of GrooveGrid or its licensors and is protected by intellectual property laws. You may not use, reproduce, or distribute any content without our prior written permission.

        h2 5. Limitation of Liability
        p GrooveGrid is provided "as is" without warranties of any kind. We are not liable for any damages arising from your use of the website, including, but not limited to, direct, indirect, incidental, punitive, and consequential damages.

        h2 6. Termination
        p We reserve the right to terminate or suspend your access to GrooveGrid at our discretion, without notice, for conduct that we believe violates these Terms of Use or is harmful to other users or GrooveGrid.

        h2 7. Governing Law
        p These Terms of Use are governed by the laws of [Your Country/State]. Any legal action related to the use of GrooveGrid shall be brought in the appropriate court of [Your Country/State].

        h2 8. Changes to Terms
        p We may update these Terms of Use from time to time. The latest version will be posted on this page, and your continued use of GrooveGrid constitutes your acceptance of any changes.

        h2 9. Contact Information
        p If you have any questions or concerns about these Terms of Use, please contact us at groovegrid@org.com

    footer
      p &copy; 2024 GrooveGrid. All Rights Reserved.
