doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Thank You
    link(rel="stylesheet", href="thankyou.css")
  body
    .thank-you-container
      h1 Thank You!
      p You can now access the page with artists and promoters... have fun and don't forget to join our community on discord!
      a(href="logHomepage") Back to Home
